
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
:root{
  --clr-almost-white: hsl(0, 0%, 98%);
  --clr-medium-gray: hsl(0, 0%, 41%);
  --clr-almost-black: hsl(0, 0%, 8%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;color: var(--clr-medium-gray);
}

body{
  font-family: 'Epilogue', sans-serif;
}

button{
  background-color: var(--clr-almost-black);
  color: var(--clr-almost-white);
  font-size: 18px;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

footer{
  padding-inline: 15px;
}

footer > img{
  margin-inline: 10px;
  width: 61px;
}

h1{
  font-size: 34px;
}

p{
  line-height: 1.50;
  margin: 25px auto;
  letter-spacing: -1px;
}

p, li{
  font-size: 18px;
  color: var(--clr-medium-gray);
  /* border: 1px solid green; */
}

ul{
    list-style-type: none;
}

.account{
  text-align: center;
}

.account li:nth-of-type(2){
  border: 1.5px solid var(--clr-medium-gray);
  margin-top: 12px;
  padding: 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.closeMenu{
  display: flex;
  justify-content: flex-end;
}

.flex{
  display: flex;
}

.headerMobile{
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.linkContainer{
  margin: 45px auto;
}

.linkContainer img{
  margin-left: 10px;
}

.linkContainer li{
  margin-bottom: 20px;
}

.navBar{
  width: 65%;
  height: 200%;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -65%;
  padding: 20px;
  background-color: white;
  display: none;
  transition:  2s ease-in-out;
  -webkit-transition:  2s ease-in-out;
  -moz-transition:  2s ease-in-out;
  -ms-transition:  2s ease-in-out;
  -o-transition:  2s ease-in-out;
}

.block{
  display: block;
  margin-right: 0.1px;
}

.submenu{
  display: none;
}

/* HERO MOBILE */

.description{
  text-align: center;
  padding: 50px 20px;
}

.heroMobile img{
  width: 100%;
}