@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
  --clr-almost-white: hsl(0, 0%, 98%);
  --clr-medium-gray: hsl(0, 0%, 41%);
  --clr-almost-black: hsl(0, 0%, 8%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;color: var(--clr-medium-gray);
}

body{
  font-family: 'Epilogue', sans-serif;
  width: 100%;
}

button{
  background-color: var(--clr-almost-black);
  color: var(--clr-almost-white);
  font-size: 18px;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

button:hover{
  background-color: var(--clr-almost-white);
  color: var(--clr-almost-black);
  border: 2px solid var(--clr-medium-gray);
}

button, .closeMenu, .iconHamburger{
  cursor: pointer;
}

footer{
  padding-inline: 15px;
}

footer > img{
  margin-inline: 10px;
  width: 61px;
}

h1{
  font-size: 34px;
}

p{
  line-height: 1.50;
  margin: 25px auto;
  letter-spacing: -1.5px;
}

p, li{
  font-size: 18px;
  color: var(--clr-medium-gray);
  /* border: 1px solid green; */
}

ul{
    list-style-type: none;
}

.account{
  text-align: center;
}

.account li:nth-of-type(2){
  border: 1.5px solid var(--clr-medium-gray);
  margin-top: 12px;
  padding: 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.closeMenu{
  display: flex;
  justify-content: flex-end;
}

.flex{
  display: flex;
  border: 2px solid red;
}

.headerMobile{
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.linkContainer, .account{
  margin: 45px auto;
  margin-top: 0;
}

.linkContainer img{
  margin-left: 10px;
}

.linkContainer li{
  margin-bottom: 20px;
}

.navBar{
  width: 65%;
  height: 200%;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -65%;
  padding: 20px;
  background-color: white;
  display: none;
  transition:  2s ease-in-out;
  -webkit-transition:  2s ease-in-out;
  -moz-transition:  2s ease-in-out;
  -ms-transition:  2s ease-in-out;
  -o-transition:  2s ease-in-out;
}

.submenu{
  display: none;
}

.block{
  display: block;
  margin-right: 0.1px;
}

/* HERO MOBILE */
.description{
  text-align: center;
  padding: 50px 20px;
}

.heroMobile img{
  width: 100%;
}

/* HERO DESKTOP */
.heroDesktop{
  display: none;
}

/*  */
.heroMobile{
  border: 2px solid rgb(65, 99, 140);
}

.description{
  border: 2px solid rgb(182, 63, 63);
}

article{
  border: 2px solid black;
}

/* MEDIA QUERIES */
@media (min-width: 1000px){
  article{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  header{
    display: flex;
  }

  footer{
    margin-left: 9%;
  }
  
  footer > img{
    margin-inline: 10px;
    width: 101px;
  }
  
  .account{
    align-items: center;
    justify-content: baseline;
    border: 2px solid green;
    /* margin-left: 58%; */
    margin-right: -25%;
  }

  .account li a:hover{
    color: var(--clr-almost-black);
    border-color: var(--clr-almost-black);
  }

  .account li:nth-of-type(2){
    margin-top: 0;
  }

  .account ul li:first-child{
    margin-top: -20.5px;
  }

  .account ul li:nth-child(2){
    margin-top: -34px;
    margin-inline: 20px;
  }

  .closeMenu, .iconHamburger{
    display: none;
  }

  .flex{
    margin-top: 23px;
  }

  .headerMobile img{
    width: 84px;
    height: 27px;
  }

  .linkContainer, .account, .account ul{
    display: flex;
    /* border: 2px solid turquoise; */
  }

  .linkContainer{
    border: 2px solid turquoise;
  }

  .linkContainer li a:hover, .linkContainer li img:hover{
    color: var(--clr-almost-black);
  }

  .linkContainer img{
    position: relative;
    right: -80px;
    top: -20px;
  }

  .linkContainer li{
    padding-inline: 25px;
    /* margin-inline: 10px; */
    border: 2px solid greenyellow;
  }

  .navBar{
    display: flex;
    justify-content: flex-start;
    position: static;
    /* left: 10%; */
    /* margin-right: 0; */
    padding: 0;
    background-color: transparent;
  }

  /* HERO DESKTOP */
  .heroMobile{
    display: none;
  }

/* PICTURE DESKTOP APPEAR */
  .description{
    text-align: left;
    margin-left: 9.5%;
    padding-left: 0;
    padding-right: 10%;
  }

  .description p{
    min-width: 400px;
  }

  .heroDesktop{
    display: flex;
  }

  .heroDesktop img{
    width: 80%;
    height: 110%;
    padding-left: 10%;
  }

  h1{
    font-size: 78px;
    display: flex;
    flex-direction:column;
    position: relative;
  }

  h1 span:nth-child(2){
    position: absolute;
    top: 80px;
    left: 310px;
  }
 
}

@media  (min-width: 1440px){
  .iconHamburger{
    display: none;
  }
}